* {
  margin: 0;
  padding: 0;
}
button:hover {
  cursor: pointer;
}
.right button {
  display: none;
  margin-left: auto;
}
.searchMobile {
  display: none;
  margin-left: auto;
}
.Navbar {
  background-color: blueviolet;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
}

.left {
  margin-left: 2rem;
  flex: 20%;
  font-size: 1.6rem;
}

.mid {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mid .input {
  height: 2.6rem;
  border-radius: 5px;
  width: 90%;
}
.mid .button {
  height: 3rem;
}
.right {
  flex: 30%;
  margin-right: 0;
  justify-content: right;
  align-items: center;
}

#hidden {
  display: flex;
}
.links {
  display: flex;
  max-height: 5rem;
  margin-right: 1rem;
  justify-content: flex-end;
}
.links a {
  font-size: 1.8rem;
  text-decoration: none;
  color: red;
  margin-left: 2rem;
}
@media screen and (max-width: 54rem) {
  .Navbar {
    height: 4rem;
  }
  .left {
    flex: 24%;
  }
  .mid {
    flex: 56%;
  }
  .mid .input {
    height: 2rem;
    border-radius: 5px;
    width: 90%;
  }
  .mid .button {
    height: 2.3rem;
  }
  .right {
    flex: 20%;
  }
  .right button {
    display: flex;
  }
  #hidden {
    position: absolute;
    padding: 0.2rem 0rem;
    left: 0rem;
    top: 4rem;
    width: 100%;
    max-height: 330px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
  }
  .links {
    display: none;
  }
  .links a {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 32rem) {
  .Navbar {
    height: 3rem;
  }
  .left {
    flex: 54%;
  }
  .right{
    margin-right: 0;
  }
  #hidden {
    top: 3rem;
  }
  .mid {
    flex: 26%;
  }
  .searchMobile {
    display: flex;
  }
  .mid .input {
    display: none;
  }
  .mid .button {
    display: none;
  }
  #hiddenFind,  #hiddenFindBtn {
    
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 2px;
   
    top: 3.1rem;
  }
  #hiddenFind{
width: 98%;
  }
  #hiddenFindBtn{
   top: 5.5rem;
   width: 4rem;
  }
}
